In [1]:
# Step 1: Import Libraries
import os
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from tqdm import tqdm

# Instantiate the LabelEncoder
label_encoder = LabelEncoder()

In [2]:
# Define paths for the datasets based on the current working directory
base_dir = os.path.join(os.getcwd(), 'ebnerd_large')
behavior_file = os.path.join(base_dir, 'train', 'behaviors.parquet')
history_file = os.path.join(base_dir, 'train', 'history.parquet')
articles_file = os.path.join(base_dir, 'articles.parquet')

Read the files

In [3]:
# Step 3: Load Datasets
# Load each dataset from the specified paths
behavior_df = pd.read_parquet(behavior_file)
history_df = pd.read_parquet(history_file)
articles_df = pd.read_parquet(articles_file)

# Display the first few rows of each dataset to confirm loading worked
print("Behavior Data:")
display(behavior_df.head())

print("\nHistory Data:")
display(history_df.head())

print("\nArticles Data:")
display(articles_df.head())

Behavior Data:

,impression_id,article_id,impression_time,read_time,scroll_percentage,device_type,article_ids_inview,article_ids_clicked,user_id,is_sso_user,gender,postcode,age,is_subscriber,session_id,next_read_time,next_scroll_percentage
0,47727,NaN,2023-05-21 21:35:07,20.0,NaN,1,"[9482380, 9775183, 9744403, 9775297, 9774020, ...",[9775183],18293,False,NaN,NaN,NaN,False,265,34.0,100.0
1,47731,NaN,2023-05-21 21:32:33,13.0,NaN,1,"[9774557, 9774516, 9775331, 9775277, 9759966]",[9759966],18293,False,NaN,NaN,NaN,False,265,45.0,100.0
2,47736,NaN,2023-05-21 21:33:32,17.0,NaN,1,"[9759966, 9774557, 9775352, 9746360, 9772601, ...",[9774652],18293,False,NaN,NaN,NaN,False,265,78.0,100.0
3,47737,NaN,2023-05-21 21:38:17,27.0,NaN,1,"[9774580, 9775131, 9775202, 9774789, 9774972, ...",[9775184],18293,False,NaN,NaN,NaN,False,265,6.0,52.0
4,47740,NaN,2023-05-21 21:36:02,48.0,NaN,1,"[9774826, 9775171, 9775076, 9769624, 9775056, ...",[9774648],18293,False,NaN,NaN,NaN,False,265,32.0,100.0

History Data:

,user_id,impression_time_fixed,scroll_percentage_fixed,article_id_fixed,read_time_fixed
0,10029,"[2023-04-28T06:16:57.000000, 2023-04-28T06:17:...","[23.0, 69.0, 27.0, nan, 47.0, 38.0, 100.0, 12....","[9735579, 9739888, 9739471, 9739864, 9738441, ...","[28.0, 24.0, 11.0, 107.0, 8.0, 7.0, 20.0, 5.0,..."
1,10033,"[2023-04-27T11:11:32.000000, 2023-04-27T11:12:...","[33.0, 41.0, 33.0, 100.0, 68.0, 38.0, 1.0, 58....","[9738139, 9738263, 9738139, 9738760, 9738777, ...","[2.0, 2.0, 718.0, 18.0, 26.0, 78.0, 3.0, 11.0,..."
2,10034,"[2023-04-30T09:46:57.000000, 2023-04-30T09:47:...","[nan, 88.0, 27.0, nan, 23.0, 100.0, 100.0, 22....","[9742693, 9742686, 9744016, 9743818, 9744922, ...","[21.0, 103.0, 28.0, 0.0, 5.0, 34.0, 14.0, 14.0..."
3,10041,"[2023-04-27T15:15:28.000000, 2023-04-27T15:16:...","[78.0, 41.0, 4.0, 16.0, 22.0, 32.0, 11.0, 94.0...","[9739035, 9738303, 9737243, 9739634, 9739802, ...","[12.0, 11.0, 3.0, 3.0, 4.0, 13.0, 29.0, 24.0, ..."
4,10103,"[2023-04-27T15:37:35.000000, 2023-04-27T15:38:...","[100.0, nan, 100.0, 100.0, 100.0, 28.0, 82.0, ...","[9739035, 9739164, 9741803, 9740087, 9741986, ...","[45.0, 8.0, 61.0, 72.0, 56.0, 3.0, 22.0, 16.0,..."

Articles Data:

,article_id,title,subtitle,last_modified_time,premium,body,published_time,image_ids,article_type,url,...,entity_groups,topics,category,subcategory,category_str,total_inviews,total_pageviews,total_read_time,sentiment_score,sentiment_label
0,3000022,Hanks beskyldt for mishandling,Tom Hanks har angiveligt mishandlet sin afdøde...,2023-06-29 06:20:32,False,Tom Hanks skulle angiveligt have mishandlet si...,2006-09-20 09:24:18,[3518381],article_default,https://ekstrabladet.dk/underholdning/udlandke...,...,[PER],"[Kriminalitet, Kendt, Underholdning, Personfar...",414,[432],underholdning,NaN,NaN,NaN,0.9911,Negative
1,3000063,Bostrups aske spredt i Furesøen,Studieværten blev mindet med glad festlighed,2023-06-29 06:20:32,False,Strålende sensommersol. Jazzede toner. Glas me...,2006-09-24 07:45:30,"[3170935, 3170939]",article_default,https://ekstrabladet.dk/nyheder/samfund/articl...,...,[],"[Kendt, Underholdning, Begivenhed, Personlig b...",118,[133],nyheder,NaN,NaN,NaN,0.5155,Neutral
2,3000613,Jesper Olsen ramt af hjerneblødning,Den tidligere danske landsholdsspiller i fodbo...,2023-06-29 06:20:33,False,"Jesper Olsen, der er noteret for 43 kampe på d...",2006-05-09 11:29:00,[3164998],article_default,https://ekstrabladet.dk/sport/fodbold/landshol...,...,"[LOC, PER, PER, PER]","[Kendt, Sport, Fodbold, Sundhed, Sygdom og beh...",142,"[196, 271]",sport,NaN,NaN,NaN,0.9876,Negative
3,3000700,Madonna topløs med heste,47-årige Madonna poserer både topløs og sammen...,2023-06-29 06:20:33,False,Skal du have stillet Madonna-sulten inden konc...,2006-05-04 11:03:12,[3172046],article_default,https://ekstrabladet.dk/underholdning/udlandke...,...,[],"[Kendt, Livsstil, Underholdning]",414,[432],underholdning,NaN,NaN,NaN,0.8786,Neutral
4,3000840,Otto Brandenburg er død,Sangeren og skuespilleren Otto Brandenburg er ...,2023-06-29 06:20:33,False,"'Og lidt for Susanne, Birgitte og Hanne... ' '...",2007-03-01 18:34:00,[3914446],article_default,https://ekstrabladet.dk/nyheder/samfund/articl...,...,[],"[Kendt, Underholdning, Begivenhed, Personlig b...",118,[133],nyheder,NaN,NaN,NaN,0.9468,Negative

### Check for missing values

In [4]:
# Check for missing values
print(behavior_df.isnull().sum())
print(history_df.isnull().sum())
print(articles_df.isnull().sum())

impression_id                    0
article_id                 8458027
impression_time                  0
read_time                        0
scroll_percentage          8523902
device_type                      0
article_ids_inview               0
article_ids_clicked              0
user_id                          0
is_sso_user                      0
gender                    11176907
postcode                  11795148
age                       11694243
is_subscriber                    0
session_id                       0
next_read_time              319928
next_scroll_percentage     1360982
dtype: int64
user_id                    0
impression_time_fixed      0
scroll_percentage_fixed    0
article_id_fixed           0
read_time_fixed            0
dtype: int64
article_id                 0
title                      0
subtitle                   0
last_modified_time         0
premium                    0
body                       0
published_time             0
image_ids              14322
article_type               0
url                        0
ner_clusters               0
entity_groups              0
topics                     0
category                   0
subcategory                0
category_str               0
total_inviews         107205
total_pageviews       108600
total_read_time       108600
sentiment_score            0
sentiment_label            0
dtype: int64

In [5]:
print(behavior_df.columns)

Index(['impression_id', 'article_id', 'impression_time', 'read_time',
       'scroll_percentage', 'device_type', 'article_ids_inview',
       'article_ids_clicked', 'user_id', 'is_sso_user', 'gender', 'postcode',
       'age', 'is_subscriber', 'session_id', 'next_read_time',
       'next_scroll_percentage'],
      dtype='object')

We observed that we have a lot of missing values for the gender , age and postcode attributes and since they are not relevant for our NRMS we drop them.

In [6]:
# Now drop columns with high missing values
behavior_df = behavior_df.drop(columns=['impression_id', 'article_id','gender', 'postcode', 'age','scroll_percentage','device_type'])

In [7]:
print(behavior_df.isnull().sum())

impression_time                 0
read_time                       0
article_ids_inview              0
article_ids_clicked             0
user_id                         0
is_sso_user                     0
is_subscriber                   0
session_id                      0
next_read_time             319928
next_scroll_percentage    1360982
dtype: int64

In [8]:
# Now drop columns with high missing values
articles_df = articles_df.drop(columns=['image_ids'])

In [9]:
print(articles_df.columns)

Index(['article_id', 'title', 'subtitle', 'last_modified_time', 'premium',
       'body', 'published_time', 'article_type', 'url', 'ner_clusters',
       'entity_groups', 'topics', 'category', 'subcategory', 'category_str',
       'total_inviews', 'total_pageviews', 'total_read_time',
       'sentiment_score', 'sentiment_label'],
      dtype='object')

In [10]:
print(articles_df.isnull().sum())

article_id                 0
title                      0
subtitle                   0
last_modified_time         0
premium                    0
body                       0
published_time             0
article_type               0
url                        0
ner_clusters               0
entity_groups              0
topics                     0
category                   0
subcategory                0
category_str               0
total_inviews         107205
total_pageviews       108600
total_read_time       108600
sentiment_score            0
sentiment_label            0
dtype: int64

In [11]:
print(articles_df.columns)

Index(['article_id', 'title', 'subtitle', 'last_modified_time', 'premium',
       'body', 'published_time', 'article_type', 'url', 'ner_clusters',
       'entity_groups', 'topics', 'category', 'subcategory', 'category_str',
       'total_inviews', 'total_pageviews', 'total_read_time',
       'sentiment_score', 'sentiment_label'],
      dtype='object')

### Modifying the article dataset

This code loads only the specified columns, converts subcategory_ids to a single string format, and applies LabelEncoder for model compatibility.

In [12]:
# Now that we have the correct column names, let's proceed with the correct script

import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Specify the correct columns based on the user's provided column names
articles_columns = ['article_id', 'title', 'subtitle', 'last_modified_time', 'premium',
       'body', 'published_time', 'article_type', 'url', 'ner_clusters',
       'entity_groups', 'topics', 'category', 'subcategory', 'category_str',
       'total_inviews', 'total_pageviews', 'total_read_time',
       'sentiment_score', 'sentiment_label']

# Load only the necessary columns from the articles file
articles_df = pd.read_parquet(articles_file, columns=articles_columns)

# Convert subcategory from list to a single string (assuming it's a list of IDs)
articles_df['subcategory'] = articles_df['subcategory'].apply(lambda x: ' '.join(map(str, x)))

# Apply LabelEncoder to transform 'subcategory' into a numeric format
label_encoder = LabelEncoder()
articles_df['subcategory_encoded'] = label_encoder.fit_transform(articles_df['subcategory'])

# Display the resulting DataFrame to verify changes
articles_df[['article_id', 'title', 'subtitle', 'last_modified_time', 'premium',
       'body', 'published_time', 'article_type', 'ner_clusters',
       'entity_groups', 'topics', 'category','subcategory_encoded', 'category_str',
       'total_inviews', 'total_pageviews', 'total_read_time',
       'sentiment_score', 'sentiment_label']].head()

,article_id,title,subtitle,last_modified_time,premium,body,published_time,article_type,ner_clusters,entity_groups,topics,category,subcategory_encoded,category_str,total_inviews,total_pageviews,total_read_time,sentiment_score,sentiment_label
0,3000022,Hanks beskyldt for mishandling,Tom Hanks har angiveligt mishandlet sin afdøde...,2023-06-29 06:20:32,False,Tom Hanks skulle angiveligt have mishandlet si...,2006-09-20 09:24:18,article_default,[David Gardner],[PER],"[Kriminalitet, Kendt, Underholdning, Personfar...",414,219,underholdning,NaN,NaN,NaN,0.9911,Negative
1,3000063,Bostrups aske spredt i Furesøen,Studieværten blev mindet med glad festlighed,2023-06-29 06:20:32,False,Strålende sensommersol. Jazzede toner. Glas me...,2006-09-24 07:45:30,article_default,[],[],"[Kendt, Underholdning, Begivenhed, Personlig b...",118,10,nyheder,NaN,NaN,NaN,0.5155,Neutral
2,3000613,Jesper Olsen ramt af hjerneblødning,Den tidligere danske landsholdsspiller i fodbo...,2023-06-29 06:20:33,False,"Jesper Olsen, der er noteret for 43 kampe på d...",2006-05-09 11:29:00,article_default,"[Frankrig, Jesper Olsen, Jesper Olsen, Jesper ...","[LOC, PER, PER, PER]","[Kendt, Sport, Fodbold, Sundhed, Sygdom og beh...",142,101,sport,NaN,NaN,NaN,0.9876,Negative
3,3000700,Madonna topløs med heste,47-årige Madonna poserer både topløs og sammen...,2023-06-29 06:20:33,False,Skal du have stillet Madonna-sulten inden konc...,2006-05-04 11:03:12,article_default,[],[],"[Kendt, Livsstil, Underholdning]",414,219,underholdning,NaN,NaN,NaN,0.8786,Neutral
4,3000840,Otto Brandenburg er død,Sangeren og skuespilleren Otto Brandenburg er ...,2023-06-29 06:20:33,False,"'Og lidt for Susanne, Birgitte og Hanne... ' '...",2007-03-01 18:34:00,article_default,[],[],"[Kendt, Underholdning, Begivenhed, Personlig b...",118,10,nyheder,NaN,NaN,NaN,0.9468,Negative

This code will:

Convert last_modified_time and published_time to milliseconds.
Calculate the time_interval in milliseconds between the mod_time and pub_time.

In [13]:
# Converting last_modified_time and published_time to milliseconds and calculating the interval

# Ensure the timestamps are in datetime format
articles_df['last_modified_time'] = pd.to_datetime(articles_df['last_modified_time'])
articles_df['published_time'] = pd.to_datetime(articles_df['published_time'])

# Calculate mod_time and pub_time in milliseconds
articles_df['mod_time'] = articles_df['last_modified_time'].astype('int64') // 10**6  # Convert to milliseconds
articles_df['pub_time'] = articles_df['published_time'].astype('int64') // 10**6  # Convert to milliseconds

# Calculate the time interval between last_modified_time and published_time in milliseconds
articles_df['time_interval'] = articles_df['mod_time'] - articles_df['pub_time']

# Display the resulting DataFrame to verify changes
articles_df.head()

,article_id,title,subtitle,last_modified_time,premium,body,published_time,article_type,url,ner_clusters,...,category_str,total_inviews,total_pageviews,total_read_time,sentiment_score,sentiment_label,subcategory_encoded,mod_time,pub_time,time_interval
0,3000022,Hanks beskyldt for mishandling,Tom Hanks har angiveligt mishandlet sin afdøde...,2023-06-29 06:20:32,False,Tom Hanks skulle angiveligt have mishandlet si...,2006-09-20 09:24:18,article_default,https://ekstrabladet.dk/underholdning/udlandke...,[David Gardner],...,underholdning,NaN,NaN,NaN,0.9911,Negative,219,1688019632,1158744258,529275374
1,3000063,Bostrups aske spredt i Furesøen,Studieværten blev mindet med glad festlighed,2023-06-29 06:20:32,False,Strålende sensommersol. Jazzede toner. Glas me...,2006-09-24 07:45:30,article_default,https://ekstrabladet.dk/nyheder/samfund/articl...,[],...,nyheder,NaN,NaN,NaN,0.5155,Neutral,10,1688019632,1159083930,528935702
2,3000613,Jesper Olsen ramt af hjerneblødning,Den tidligere danske landsholdsspiller i fodbo...,2023-06-29 06:20:33,False,"Jesper Olsen, der er noteret for 43 kampe på d...",2006-05-09 11:29:00,article_default,https://ekstrabladet.dk/sport/fodbold/landshol...,"[Frankrig, Jesper Olsen, Jesper Olsen, Jesper ...",...,sport,NaN,NaN,NaN,0.9876,Negative,101,1688019633,1147174140,540845493
3,3000700,Madonna topløs med heste,47-årige Madonna poserer både topløs og sammen...,2023-06-29 06:20:33,False,Skal du have stillet Madonna-sulten inden konc...,2006-05-04 11:03:12,article_default,https://ekstrabladet.dk/underholdning/udlandke...,[],...,underholdning,NaN,NaN,NaN,0.8786,Neutral,219,1688019633,1146740592,541279041
4,3000840,Otto Brandenburg er død,Sangeren og skuespilleren Otto Brandenburg er ...,2023-06-29 06:20:33,False,"'Og lidt for Susanne, Birgitte og Hanne... ' '...",2007-03-01 18:34:00,article_default,https://ekstrabladet.dk/nyheder/samfund/articl...,[],...,nyheder,NaN,NaN,NaN,0.9468,Negative,10,1688019633,1172774040,515245593

### Modify the behavior dataset

In [14]:
print(behavior_df.columns)

Index(['impression_time', 'read_time', 'article_ids_inview',
       'article_ids_clicked', 'user_id', 'is_sso_user', 'is_subscriber',
       'session_id', 'next_read_time', 'next_scroll_percentage'],
      dtype='object')

 Add a feature (articles_num) for the count of in-view articles, and explode article_ids_inview to have one article per row for each impression.

In [15]:
import pandas as pd

# Step 1: Create a new DataFrame with only relevant columns and calculate articles_num for each row
behavior_df_new = behavior_df[['impression_time', 'article_ids_inview', 'user_id', 'session_id']]
behavior_df_new['articles_num'] = behavior_df['article_ids_inview'].apply(len)  # Calculate articles_num first

# Track the original and expected row counts
original_row_count = len(behavior_df_new)
expected_row_count = behavior_df_new['articles_num'].sum()  # Expected row count after explosion
print(f"Original row count: {original_row_count}")
print(f"Expected row count after explosion: {expected_row_count}")

# Step 2: Define the chunk size
chunk_size = 100000
num_chunks = len(behavior_df_new) // chunk_size + 1  # Total number of chunks

# Step 3: Process and save each chunk
exploded_total_row_count = 0  # Track total rows after explosion
for i, start in enumerate(range(0, len(behavior_df_new), chunk_size)):
    # Select a chunk of the data
    chunk = behavior_df_new.iloc[start:start + chunk_size].copy()  # Use .copy() to avoid SettingWithCopyWarning
    
    # Explode the chunk to have one article per row
    exploded_chunk = chunk.explode('article_ids_inview')
    
    # Track row count for each exploded chunk
    exploded_chunk_row_count = len(exploded_chunk)
    exploded_total_row_count += exploded_chunk_row_count
    print(f"Chunk {i+1}: Original rows = {len(chunk)}, Exploded rows = {exploded_chunk_row_count}")
    
    # Save the exploded chunk to disk with a unique filename
    exploded_chunk.to_parquet(f"exploded_behavior_data_chunk_{i+1}.parquet", index=False)
    
print(f"Total exploded row count after processing all chunks: {exploded_total_row_count}")
print("All chunks have been processed and saved to disk.")

C:\Users\Lydia\AppData\Local\Temp\ipykernel_3756\47074036.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  behavior_df_new['articles_num'] = behavior_df['article_ids_inview'].apply(len)  # Calculate articles_num first

Original row count: 12063890
Expected row count after explosion: 133810641
Chunk 1: Original rows = 100000, Exploded rows = 1108995
Chunk 2: Original rows = 100000, Exploded rows = 1112646
Chunk 3: Original rows = 100000, Exploded rows = 1108097
Chunk 4: Original rows = 100000, Exploded rows = 1093400
Chunk 5: Original rows = 100000, Exploded rows = 1111439
Chunk 6: Original rows = 100000, Exploded rows = 1106701
Chunk 7: Original rows = 100000, Exploded rows = 1131349
Chunk 8: Original rows = 100000, Exploded rows = 1099479
Chunk 9: Original rows = 100000, Exploded rows = 1121967
Chunk 10: Original rows = 100000, Exploded rows = 1105815
Chunk 11: Original rows = 100000, Exploded rows = 1110836
Chunk 12: Original rows = 100000, Exploded rows = 1106868
Chunk 13: Original rows = 100000, Exploded rows = 1101245
Chunk 14: Original rows = 100000, Exploded rows = 1107548
Chunk 15: Original rows = 100000, Exploded rows = 1120077
Chunk 16: Original rows = 100000, Exploded rows = 1108779
Chunk 17: Original rows = 100000, Exploded rows = 1114511
Chunk 18: Original rows = 100000, Exploded rows = 1109259
Chunk 19: Original rows = 100000, Exploded rows = 1100898
Chunk 20: Original rows = 100000, Exploded rows = 1099700
Chunk 21: Original rows = 100000, Exploded rows = 1113405
Chunk 22: Original rows = 100000, Exploded rows = 1108763
Chunk 23: Original rows = 100000, Exploded rows = 1124486
Chunk 24: Original rows = 100000, Exploded rows = 1101677
Chunk 25: Original rows = 100000, Exploded rows = 1098034
Chunk 26: Original rows = 100000, Exploded rows = 1107551
Chunk 27: Original rows = 100000, Exploded rows = 1111526
Chunk 28: Original rows = 100000, Exploded rows = 1117076
Chunk 29: Original rows = 100000, Exploded rows = 1130421
Chunk 30: Original rows = 100000, Exploded rows = 1107767
Chunk 31: Original rows = 100000, Exploded rows = 1103047
Chunk 32: Original rows = 100000, Exploded rows = 1107834
Chunk 33: Original rows = 100000, Exploded rows = 1103647
Chunk 34: Original rows = 100000, Exploded rows = 1115389
Chunk 35: Original rows = 100000, Exploded rows = 1111476
Chunk 36: Original rows = 100000, Exploded rows = 1096858
Chunk 37: Original rows = 100000, Exploded rows = 1100420
Chunk 38: Original rows = 100000, Exploded rows = 1100100
Chunk 39: Original rows = 100000, Exploded rows = 1110603
Chunk 40: Original rows = 100000, Exploded rows = 1119444
Chunk 41: Original rows = 100000, Exploded rows = 1099514
Chunk 42: Original rows = 100000, Exploded rows = 1098202
Chunk 43: Original rows = 100000, Exploded rows = 1112672
Chunk 44: Original rows = 100000, Exploded rows = 1113019
Chunk 45: Original rows = 100000, Exploded rows = 1113019
Chunk 46: Original rows = 100000, Exploded rows = 1098164
Chunk 47: Original rows = 100000, Exploded rows = 1115762
Chunk 48: Original rows = 100000, Exploded rows = 1115884
Chunk 49: Original rows = 100000, Exploded rows = 1109023
Chunk 50: Original rows = 100000, Exploded rows = 1097034
Chunk 51: Original rows = 100000, Exploded rows = 1113494
Chunk 52: Original rows = 100000, Exploded rows = 1113381
Chunk 53: Original rows = 100000, Exploded rows = 1102440
Chunk 54: Original rows = 100000, Exploded rows = 1104558
Chunk 55: Original rows = 100000, Exploded rows = 1096934
Chunk 56: Original rows = 100000, Exploded rows = 1121618
Chunk 57: Original rows = 100000, Exploded rows = 1095374
Chunk 58: Original rows = 100000, Exploded rows = 1116067
Chunk 59: Original rows = 100000, Exploded rows = 1118702
Chunk 60: Original rows = 100000, Exploded rows = 1104979
Chunk 61: Original rows = 100000, Exploded rows = 1103441
Chunk 62: Original rows = 100000, Exploded rows = 1117064
Chunk 63: Original rows = 100000, Exploded rows = 1096269
Chunk 64: Original rows = 100000, Exploded rows = 1104219
Chunk 65: Original rows = 100000, Exploded rows = 1106943
Chunk 66: Original rows = 100000, Exploded rows = 1120639
Chunk 67: Original rows = 100000, Exploded rows = 1134768
Chunk 68: Original rows = 100000, Exploded rows = 1104080
Chunk 69: Original rows = 100000, Exploded rows = 1093871
Chunk 70: Original rows = 100000, Exploded rows = 1120722
Chunk 71: Original rows = 100000, Exploded rows = 1124977
Chunk 72: Original rows = 100000, Exploded rows = 1102461
Chunk 73: Original rows = 100000, Exploded rows = 1102121
Chunk 74: Original rows = 100000, Exploded rows = 1111943
Chunk 75: Original rows = 100000, Exploded rows = 1122529
Chunk 76: Original rows = 100000, Exploded rows = 1116285
Chunk 77: Original rows = 100000, Exploded rows = 1104626
Chunk 78: Original rows = 100000, Exploded rows = 1113273
Chunk 79: Original rows = 100000, Exploded rows = 1106902
Chunk 80: Original rows = 100000, Exploded rows = 1112964
Chunk 81: Original rows = 100000, Exploded rows = 1094223
Chunk 82: Original rows = 100000, Exploded rows = 1107786
Chunk 83: Original rows = 100000, Exploded rows = 1107297
Chunk 84: Original rows = 100000, Exploded rows = 1090731
Chunk 85: Original rows = 100000, Exploded rows = 1107604
Chunk 86: Original rows = 100000, Exploded rows = 1122826
Chunk 87: Original rows = 100000, Exploded rows = 1100797
Chunk 88: Original rows = 100000, Exploded rows = 1118662
Chunk 89: Original rows = 100000, Exploded rows = 1101045
Chunk 90: Original rows = 100000, Exploded rows = 1102745
Chunk 91: Original rows = 100000, Exploded rows = 1089344
Chunk 92: Original rows = 100000, Exploded rows = 1109856
Chunk 93: Original rows = 100000, Exploded rows = 1103092
Chunk 94: Original rows = 100000, Exploded rows = 1091465
Chunk 95: Original rows = 100000, Exploded rows = 1112012
Chunk 96: Original rows = 100000, Exploded rows = 1125685
Chunk 97: Original rows = 100000, Exploded rows = 1095092
Chunk 98: Original rows = 100000, Exploded rows = 1112254
Chunk 99: Original rows = 100000, Exploded rows = 1114033
Chunk 100: Original rows = 100000, Exploded rows = 1123324
Chunk 101: Original rows = 100000, Exploded rows = 1108787
Chunk 102: Original rows = 100000, Exploded rows = 1103535
Chunk 103: Original rows = 100000, Exploded rows = 1132724
Chunk 104: Original rows = 100000, Exploded rows = 1115916
Chunk 105: Original rows = 100000, Exploded rows = 1094731
Chunk 106: Original rows = 100000, Exploded rows = 1122530
Chunk 107: Original rows = 100000, Exploded rows = 1117828
Chunk 108: Original rows = 100000, Exploded rows = 1098726
Chunk 109: Original rows = 100000, Exploded rows = 1109166
Chunk 110: Original rows = 100000, Exploded rows = 1104461
Chunk 111: Original rows = 100000, Exploded rows = 1119177
Chunk 112: Original rows = 100000, Exploded rows = 1105486
Chunk 113: Original rows = 100000, Exploded rows = 1106363
Chunk 114: Original rows = 100000, Exploded rows = 1110009
Chunk 115: Original rows = 100000, Exploded rows = 1119370
Chunk 116: Original rows = 100000, Exploded rows = 1116227
Chunk 117: Original rows = 100000, Exploded rows = 1099241
Chunk 118: Original rows = 100000, Exploded rows = 1112339
Chunk 119: Original rows = 100000, Exploded rows = 1119936
Chunk 120: Original rows = 100000, Exploded rows = 1114745
Chunk 121: Original rows = 63890, Exploded rows = 700401
Total exploded row count after processing all chunks: 133810641
All chunks have been processed and saved to disk.

In [16]:
import pyarrow.parquet as pq
import pyarrow as pa
import glob

# Define output file
output_file = "full_behavior_data.parquet"

# Initialize variables
first_chunk = True

# Initialize the Parquet writer only once, for the first chunk
for file in glob.glob("exploded_behavior_data_chunk_*.parquet"):
    # Read the chunk
    chunk = pq.read_table(file)
    
    # Write the first chunk to initialize the file with schema
    if first_chunk:
        # Open the Parquet writer with the schema of the first chunk
        writer = pq.ParquetWriter(output_file, chunk.schema)
        first_chunk = False
    
    # Write the current chunk to the output file
    writer.write_table(chunk)

# Close the writer after all chunks are written
writer.close()

print("All chunks have been merged into 'full_behavior_data.parquet'.")

All chunks have been merged into 'full_behavior_data.parquet'.

In [17]:
import pyarrow.parquet as pq

# Read the merged Parquet file to check the number of rows
table = pq.read_table("full_behavior_data.parquet")
num_rows = table.num_rows
num_rows

133810641

We read the full_behavior_data.parquet to behavior_df_new

In [19]:
# Check row count before explosion
original_rows = len(behavior_df)
print(f"Rows in original behavior_df: {original_rows}")

# Check row count after explosion
exploded_rows = len(behavior_df_new)
print(f"Rows in exploded behavior_df_new: {exploded_rows}")

Rows in original behavior_df: 12063890
Rows in exploded behavior_df_new: 1114033

In [20]:
# Count rows with empty lists in 'article_ids_inview'
empty_lists_count = behavior_df['article_ids_inview'].apply(lambda x: len(x) if isinstance(x, list) else 0).value_counts().get(0, 0)

# Count rows with NaN in 'article_ids_inview'
nan_count = behavior_df['article_ids_inview'].isna().sum()

print(f"Rows with empty lists in 'article_ids_inview': {empty_lists_count}")
print(f"Rows with NaN in 'article_ids_inview': {nan_count}")

Rows with empty lists in 'article_ids_inview': 12063890
Rows with NaN in 'article_ids_inview': 0

In [21]:

# Alternatively, print the first 100 rows for a sample view:
print(behavior_df['article_ids_inview'].head(100))  # Shows first 100 entries

0     [9482380, 9775183, 9744403, 9775297, 9774020, ...
1         [9774557, 9774516, 9775331, 9775277, 9759966]
2     [9759966, 9774557, 9775352, 9746360, 9772601, ...
3     [9774580, 9775131, 9775202, 9774789, 9774972, ...
4     [9774826, 9775171, 9775076, 9769624, 9775056, ...
                            ...
95    [9767481, 9774840, 9774864, 9775042, 9775323, ...
96        [9775371, 9773947, 9775432, 9770028, 9771051]
97    [9775361, 9772706, 9770288, 9775419, 9775402, ...
98        [9759544, 9773947, 9771051, 9775371, 9774461]
99        [9759966, 9775352, 9774557, 9774652, 9775277]
Name: article_ids_inview, Length: 100, dtype: object

In [22]:
# Step-by-step code to calculate, sort, and display

# Calculate the number of articles in each list in 'article_ids_inview'
behavior_df['articles_num'] = behavior_df['article_ids_inview'].apply(len)

# Sort by 'articles_num' in ascending order
sorted_behavior_df = behavior_df.sort_values(by='articles_num')

# Display the first 100 rows of sorted results
print(sorted_behavior_df[['article_ids_inview', 'articles_num']].head(100))

                                     article_ids_inview  articles_num
11209732  [9759966, 9775793, 9770145, 9774461, 9770450]             5
2845750   [9777005, 9777112, 9776917, 9777036, 9776916]             5
7273666   [9135506, 7865155, 9771995, 9521144, 9552120]             5
2845758   [9776897, 9776968, 9776882, 9777007, 9525589]             5
2845761   [9777075, 9777164, 9775908, 9777233, 9777043]             5
...                                                 ...           ...
2845534   [9777164, 9767554, 9777075, 9775908, 9777228]             5
2845535   [9777075, 9777043, 9777233, 9777164, 9775908]             5
2845537   [9775776, 9775800, 7306652, 9759966, 9775703]             5
2845538   [9776918, 9776985, 9777164, 9777043, 9777233]             5
11177128  [9774542, 9774789, 9774899, 9774580, 9774972]             5

[100 rows x 2 columns]

In [23]:
# Step 1: Verify original row count and the minimum value in articles_num
original_row_count = len(behavior_df)
min_articles_num = behavior_df['articles_num'].min()
print(f"Original row count: {original_row_count}")
print(f"Minimum articles_num value: {min_articles_num}")

Original row count: 12063890
Minimum articles_num value: 5

In [24]:
# Count the number of rows
#num_rows = len(behavior_df_new)
#num_rows

In [25]:
# Display the first 100 rows of the behavior_df_new DataFrame
#behavior_df_new.head(100)

In [26]:
#behavior_df_new.rename(columns={'article_ids_inview': 'article_id'}, inplace=True)

In [27]:
#print(behavior_df_new.columns)

Now we will create an impr_time that converts impression_time to an integer representation in milliseconds,

impr_pub_interval: calculates the difference between the impression and published times, giving the delay bewteem publishing and the user's impression

mpr_pub_hour that converts this interval into hours for easier groupin and analysis

1. Extract article_id from behavior_df_new ( after exploding article_ids_inview).
2. Merge behavior_df_new with articles_df on article_id.
3. Calculate impr_time, impr_pub_interval, and impr_pub_hour based on impression_time and published_time from the merged dataset.

In [28]:
import pandas as pd

# Ensure the necessary columns are in datetime format
# Convert both 'impression_time' and 'published_time' to datetime if not already done
behavior_df_new['impression_time'] = pd.to_datetime(behavior_df_new['impression_time'])
articles_df['published_time'] = pd.to_datetime(articles_df['published_time'])


# Merge behavior_df with articles_df on article_id to bring in published_time information
merged_df = behavior_df_new.merge(articles_df[['article_id', 'published_time']], on='article_id', how='left')

# 1. Convert impression_time to an integer representation in milliseconds
merged_df['impr_time'] = merged_df['impression_time'].astype('int64') // 10**6  # Convert from nanoseconds to milliseconds

# 2. Calculate the delay (in milliseconds) between the impression and the published time
merged_df['impr_pub_interval'] = (merged_df['impression_time'] - merged_df['published_time']).dt.total_seconds() * 1000

# 3. Convert the impr_pub_interval to hours
merged_df['impr_pub_hour'] = merged_df['impr_pub_interval'] / (1000 * 3600)  # Convert milliseconds to hours

# Display a sample to verify
print(merged_df[['impression_time', 'published_time', 'impr_time', 'impr_pub_interval', 'impr_pub_hour']].head())

KeyError: 'article_id'

In [ ]:
merged_df.head()

,impression_time,article_id,user_id,session_id,articles_num,published_time,impr_time,impr_pub_interval,impr_pub_hour
0,2023-05-20 16:28:45,9773278,1155045,27292978,44,2023-05-20 13:53:40,1684600125,9305000.0,2.584722
1,2023-05-20 16:28:45,9773364,1155045,27292978,44,2023-05-20 10:00:09,1684600125,23316000.0,6.476667
2,2023-05-20 16:28:45,9773574,1155045,27292978,44,2023-05-20 13:06:04,1684600125,12161000.0,3.378056
3,2023-05-20 16:28:45,9773744,1155045,27292978,44,2023-05-20 15:13:29,1684600125,4516000.0,1.254444
4,2023-05-20 16:28:45,9767566,1155045,27292978,44,2023-05-20 11:56:18,1684600125,16347000.0,4.540833

Then hourly impressions count for each article: this loop counts the numbr of impressions for each article by hour intervals up to 24 hours, for each hour i , it filters data where impr_pub_interval is within that hour range .

 It then groups by article_id to count the impressions and merges these counts back into the behavior data

In [ ]:
import pandas as pd

# Load the processed chunks back if not already loaded
# You would iterate over each saved chunk file to perform the following
hourly_impressions = pd.DataFrame()

# Define the hour intervals (1 to 24 hours)
for hour in range(1, 25):
    # Filter data within the current hour range (i.e., 0 to `hour` hours in milliseconds)
    filtered_df = merged_df[(merged_df['impr_pub_interval'] >= (hour - 1) * 3600 * 1000) &
                               (merged_df['impr_pub_interval'] < hour * 3600 * 1000)]
    
    # Group by 'article_id' and count impressions within this hour range
    hourly_count = filtered_df.groupby('article_id').size().reset_index(name=f'impressions_hour_{hour}')
    
    # Merge this hourly count back into the main DataFrame
    if hourly_impressions.empty:
        hourly_impressions = hourly_count
    else:
        hourly_impressions = pd.merge(hourly_impressions, hourly_count, on='article_id', how='outer').fillna(0)

# Fill any missing counts with zero for clarity
hourly_impressions = hourly_impressions.fillna(0)

# Save or merge `hourly_impressions` back to your main data as needed
hourly_impressions.to_parquet("/mnt/data/hourly_impressions_by_article.parquet", index=False)
print("Hourly impressions by article calculated and saved.")

Hourly impressions by article calculated and saved.

Calculate impression differences betweenhours: computes the difference in impression counts between consecutive hours, this gives insight into how impression numbers change hour by hour

In [ ]:
# Assuming `hourly_impressions` has columns ['article_id', 'impressions_hour_1', ..., 'impressions_hour_24']
# Calculate hourly differences
impression_differences = hourly_impressions[['article_id']].copy()  # Start with article_id for merging purposes

# Loop through each hour (from hour 2 to 24) and calculate the difference with the previous hour
for hour in range(2, 25):
    prev_hour = hour - 1
    impression_differences[f'impression_diff_hour_{hour}'] = (
        hourly_impressions[f'impressions_hour_{hour}'] - hourly_impressions[f'impressions_hour_{prev_hour}']
    )

# Display a sample of the differences to verify
print(impression_differences.head())

# Save the impression differences DataFrame if needed
impression_differences.to_parquet("/mnt/data/impression_differences_by_hour.parquet", index=False)
print("Hourly impression differences calculated and saved.")

   article_id  impression_diff_hour_2  impression_diff_hour_3  \
0     9735909                   395.0                  -386.0
1     9738729                   -86.0                  -103.0
2     9743870                  -113.0                  -269.0
3     9743874                     0.0                     0.0
4     9744403                  -484.0                    -7.0

   impression_diff_hour_4  impression_diff_hour_5  impression_diff_hour_6  \
0                    84.0                   139.0                  -227.0
1                   107.0                   -30.0                   -77.0
2                   -56.0                     0.0                     0.0
3                     1.0                    -1.0                     0.0
4                     0.0                     0.0                     0.0

   impression_diff_hour_7  impression_diff_hour_8  impression_diff_hour_9  \
0                    -5.0                    34.0                   -12.0
1                   142.0                   -55.0                   -11.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     1.0
4                     0.0                     0.0                     0.0

   impression_diff_hour_10  ...  impression_diff_hour_15  \
0                    -20.0  ...                      0.0
1                     -8.0  ...                      0.0
2                      0.0  ...                      0.0
3                     -1.0  ...                      0.0
4                     21.0  ...                     16.0

   impression_diff_hour_16  impression_diff_hour_17  impression_diff_hour_18  \
0                      0.0                      0.0                      0.0
1                      0.0                      0.0                     34.0
2                      0.0                      0.0                      1.0
3                      0.0                      0.0                      0.0
4                    -16.0                      1.0                     -1.0

   impression_diff_hour_19  impression_diff_hour_20  impression_diff_hour_21  \
0                      0.0                      0.0                      0.0
1                      6.0                    -40.0                     54.0
2                     -1.0                      0.0                      0.0
3                      0.0                      0.0                      0.0
4                      0.0                      0.0                      0.0

   impression_diff_hour_22  impression_diff_hour_23  impression_diff_hour_24
0                      0.0                      0.0                      0.0
1                    -22.0                     91.0                    -31.0
2                      0.0                      1.0                     -1.0
3                      0.0                      1.0                     -1.0
4                      0.0                      0.0                      1.0

[5 rows x 24 columns]
Hourly impression differences calculated and saved.

In [ ]:
impression_differences.columns

Index(['article_id', 'impression_diff_hour_2', 'impression_diff_hour_3',
       'impression_diff_hour_4', 'impression_diff_hour_5',
       'impression_diff_hour_6', 'impression_diff_hour_7',
       'impression_diff_hour_8', 'impression_diff_hour_9',
       'impression_diff_hour_10', 'impression_diff_hour_11',
       'impression_diff_hour_12', 'impression_diff_hour_13',
       'impression_diff_hour_14', 'impression_diff_hour_15',
       'impression_diff_hour_16', 'impression_diff_hour_17',
       'impression_diff_hour_18', 'impression_diff_hour_19',
       'impression_diff_hour_20', 'impression_diff_hour_21',
       'impression_diff_hour_22', 'impression_diff_hour_23',
       'impression_diff_hour_24'],
      dtype='object')

Create Hourly Impression Features for Each Article:This part extracts hourly impression features for each article_id.
For each hour (i), it renames columns and calculates differences in hourly impressions to create additional features.
These features help in understanding how the impression rates for an article change over time.

In [ ]:
import pandas as pd

# Assuming `hourly_impressions` has columns like ['article_id', 'impressions_hour_1', ..., 'impressions_hour_24']

# Initialize a new DataFrame to store hourly features for each article
hourly_features = hourly_impressions[['article_id']].copy()

# Loop through each hour and calculate impression counts and differences
for hour in range(1, 25):
    # Rename the impression count column for clarity
    hourly_features[f'impressions_hour_{hour}'] = hourly_impressions[f'impressions_hour_{hour}']

    # Calculate the hourly impression difference (for hours 2 and onward)
    if hour > 1:
        hourly_features[f'impression_diff_hour_{hour}'] = (
            hourly_impressions[f'impressions_hour_{hour}'] - hourly_impressions[f'impressions_hour_{hour - 1}']
        )

# Display the hourly features DataFrame to verify
print(hourly_features.head())

# Save the DataFrame if needed
hourly_features.to_parquet("/mnt/data/hourly_impression_features_by_article.parquet", index=False)
print("Hourly impression features for each article calculated and saved.")

   article_id  impressions_hour_1  impressions_hour_2  impression_diff_hour_2  \
0     9735909                 0.0               395.0                   395.0
1     9738729               189.0               103.0                   -86.0
2     9743870               438.0               325.0                  -113.0
3     9743874                 0.0                 0.0                     0.0
4     9744403               491.0                 7.0                  -484.0

   impressions_hour_3  impression_diff_hour_3  impressions_hour_4  \
0                 9.0                  -386.0                93.0
1                 0.0                  -103.0               107.0
2                56.0                  -269.0                 0.0
3                 0.0                     0.0                 1.0
4                 0.0                    -7.0                 0.0

   impression_diff_hour_4  impressions_hour_5  impression_diff_hour_5  ...  \
0                    84.0               232.0                   139.0  ...
1                   107.0                77.0                   -30.0  ...
2                   -56.0                 0.0                     0.0  ...
3                     1.0                 0.0                    -1.0  ...
4                     0.0                 0.0                     0.0  ...

   impressions_hour_20  impression_diff_hour_20  impressions_hour_21  \
0                  0.0                      0.0                  0.0
1                  0.0                    -40.0                 54.0
2                  0.0                      0.0                  0.0
3                  0.0                      0.0                  0.0
4                  0.0                      0.0                  0.0

   impression_diff_hour_21  impressions_hour_22  impression_diff_hour_22  \
0                      0.0                  0.0                      0.0
1                     54.0                 32.0                    -22.0
2                      0.0                  0.0                      0.0
3                      0.0                  0.0                      0.0
4                      0.0                  0.0                      0.0

   impressions_hour_23  impression_diff_hour_23  impressions_hour_24  \
0                  0.0                      0.0                  0.0
1                123.0                     91.0                 92.0
2                  1.0                      1.0                  0.0
3                  1.0                      1.0                  0.0
4                  0.0                      0.0                  1.0

   impression_diff_hour_24
0                      0.0
1                    -31.0
2                     -1.0
3                     -1.0
4                      1.0

[5 rows x 48 columns]
Hourly impression features for each article calculated and saved.

Aggregate by Hour and Calculate Averages
Groups impressions by article_id and article_impr_hour, counting impressions per hour per article.
This helps to capture the popularity and demand for an article over time.